/* Navbar Styling */
.navbar {
  background-color: #343a40; /* Warna latar belakang navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff; /* Warna teks navbar */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #e9ecef; /* Warna teks navbar saat dihover */
}

/* Halaman Styling */
body {
  margin: 0;
  padding: 0;
}

#map {
  height: calc(100vh - 56px); /* Tinggi peta dihitung agar muat dalam layar */
}

/* Optional: Gaya khusus untuk garis jalan protokol */
.red-line {
  stroke: red;
  stroke-width: 3;
  fill: none;
}
