<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Peta Coffee Shop Pekanbaru</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-XQoYMqMTK8+FnlrelOaqtFkd/EbN9HGtO2798nbxe7zU7k9nAZKGUrB+1Jd8xkkRk9P+v8tKlwfaX0Eo6v9A==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // Load the GeoJSON data
      var districts = L.geoJSON({{
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [{{ latitude }}, {{ longitude }}]
            },
            "properties": {
              "name": "{{ kecamatan }}"
            }
          }
        ]
      }}).addTo(map);

      // Create a marker for each coffee shop
      var coffeeShops = {{ coffee_shops }};
      for (var i = 0; i < coffeeShops.length; i++) {
        var coffeeShop = coffeeShops[i];
        var marker = L.marker([coffeeShop.latitude, coffeeShop.longitude]).addTo(map);
        marker.bindPopup("<b>" + coffeeShop.name + "</b><br>" + coffeeShop.address);
      }

      // Set the map view
      map.setView([{{ latitude }}, {{ longitude }}, 12]);
    </script>
  </body>
</html>
